{% extends "base.html" %}
{% block title %}Event{% endblock %}
{% block scripthead %}
    <link href="{{ url_for('static', filename='lib/select2/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jt.timepicker/jquery.timepicker.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/bootstrap-tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/datatables/jquery.dataTables.css') }}" rel="stylesheet">
{% endblock %}

{% block scriptbody %}
    <script src="{{ url_for('static', filename='lib/select2/js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jt.timepicker/jquery.timepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap-tagsinput/bootstrap-tagsinput.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables-responsive/dataTables.responsive.js') }}"></script>
{% endblock %}
{% block nav %}Event{% endblock %}
{% block formtitle %}Event{% endblock %}
{% block content %}

    <style>table.dataTable.nowrap th, table.dataTable.nowrap td {white-space: normal}</style>
    <div class="br-section-wrapper mg-t-20 pd-30">
        <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
                <thead><tr>
                    <th class="wd-8p">Order</th>
                    <th class="wd-15p">Name</th>
                    <th class="wd-8p">PIC</th>
                    <th class="wd-15p">Start</th>
                    <th class="wd-15p">End</th>
                    <th class="wd-8p">Action</th>
                </tr></thead>
                <tbody>
                    {% for row in table %}
                    <tr><td>{{row.order_name}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.pic_name}}</td>
                        <td>{{row.time_start}}</td>
                        <td>{{row.time_end}}</td>
                        <td><a href="/event/edit/{{row.id}}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <a href="/event/new" class="create-button mr-2">Create New</a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Order
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/event" selected>All</a></li>
                        {% for order in orders %}
                            <li><a class="dropdown-item" href="http://127.0.0.1:8000/order/{{ order.id }}/events">{{ order.name }}</a></li>
                        {% endfor %}
                        <!-- <li><a class="dropdown-item" href="http://127.0.0.1:8000/order/1/events">Ana & Anu</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/order/2/events">Jennifer</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/order/3/events">David</a></li> -->
                    </ul>
                </div>
            </div>
      </div><!-- table-wrapper -->
    </div>

{% endblock %}