{% extends "base.html" %}
{% block title %}Edit Order{% endblock %}
{% block scripthead %}
    <link href="{{ url_for('static', filename='lib/select2/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jt.timepicker/jquery.timepicker.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/bootstrap-tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/datatables/jquery.dataTables.css') }}" rel="stylesheet">
{% endblock %}

{% block scriptbody %}
    <script src="{{ url_for('static', filename='lib/select2/js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jt.timepicker/jquery.timepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap-tagsinput/bootstrap-tagsinput.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables-responsive/dataTables.responsive.js') }}"></script>
{% endblock %}
{% block nav %}Edit Order{% endblock %}
{% block formtitle %}Edit Order{% endblock %}
{% block content %}
    <div class="br-section-wrapper" style="padding:0px;">
        <form method="post">
        <div class="form-layout form-layout-4 mg-t-20" style="background-color:#fff">

            <!-- ID -->
            <div class="row mg-t-10">
                <label class="col-sm-3 form-control-label" for="chrtext">ID</label>
                <div class="col-sm-9 mg-t-10 mg-sm-t-0">
                <input type="text" id="id" name="id" class="form-control" value="{{ formdata.id }}" placeholder="Enter any text" disabled>
                </div>
            </div><!-- row -->
            
            <!-- PIC ID -->
            <div class="row mg-t-10">
                <label class="col-sm-3 form-control-label" for="chrtext">PIC</label>
                <div class="col-sm-9 mg-t-10 mg-sm-t-0">
                    <select id="pic_id" name="pic_id" class="form-control">
                        {% for staff in staff_data %}
                            <option value="{{ staff.id }}" {% if staff.id == formdata.pic_id %}selected{% endif %}>{{ staff.id }} - {{ staff.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div><!-- row -->

            <!-- NAME -->
            <div class="row mg-t-10">
                <label class="col-sm-3 form-control-label" for="chrtext">Order Name</label>
                <div class="col-sm-9 mg-t-10 mg-sm-t-0">
                <input type="text" id="name" name="name" class="form-control" value="{{ formdata.name }}" placeholder="Enter any text">
                </div>
            </div><!-- row -->

            <!-- CATEGORY -->
            <div class="row mg-t-10">
                <label class="col-sm-3 form-control-label" for="chrtext">Order Category</label>
                <div class="col-sm-9 mg-t-10 mg-sm-t-0">
                <input type="text" id="category" name="category" class="form-control" value="{{ formdata.category }}" placeholder="Enter any text" disabled>
                </div>
            </div><!-- row -->

            <!-- SCHEDULE -->
            <div class="row mg-t-10">
                <label class="col-sm-3 form-control-label" for="chrtext">Schedule</label>
                <div class="col-sm-9 mg-t-10 mg-sm-t-0">
                <input type="datetime-local" id="schedule" name="schedule" class="form-control" value="{{ formdata.schedule }}" placeholder="Enter any date">
                </div>
            </div><!-- row -->

            <!-- STATUS -->
            <div class="row mg-t-10">
                <label class="col-sm-3 form-control-label" for="chrtext">Status</label>
                <div class="col-sm-9 mg-t-10 mg-sm-t-0">
                    <select id="status" name="status" class="form-control">
                        <option value="Done" {% if formdata.status == 'Done' %}selected{% endif %}>Done</option>
                        <option value="Scheduled" {% if formdata.status == 'Scheduled' %}selected{% endif %}>Scheduled</option>
                        <option value="Cancelled" {% if formdata.status == 'Cancelled' %}selected{% endif %}>Cancelled</option>
                    </select>
                </div>
            </div><!-- row -->


            <div class="form-layout-footer mg-t-30">
                <input type="submit" class="btn btn-info" />
                <input type="reset" class="btn btn-secondary" />
            </div><!-- form-layout-footer -->
        </div>
        </form>
    </div>

    {% if display_attrs.showpanel == 1 %}
    <div class="br-section-wrapper mg-t-20 pd-30">
        <div class="table-wrapper">
            <table id="datatableSim" class="table display responsive">
            <thead><tr>
                <th class="wd-15p">Bugs</th>
                <th class="wd-15p">Version</th>
                <th class="wd-15p"># Lines Patched</th>
                <th class="wd-15p">Duration</th>
            </tr></thead>
        </table>
      </div><!-- table-wrapper -->
    </div>
    {% endif %}
{% endblock %}