{% extends "base.html" %}
{% block title %}Edit Staff{% endblock %}
{% block scripthead %}
    <link href="{{ url_for('static', filename='lib/select2/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jt.timepicker/jquery.timepicker.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/bootstrap-tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/datatables/jquery.dataTables.css') }}" rel="stylesheet">
{% endblock %}

{% block scriptbody %}
    <script src="{{ url_for('static', filename='lib/select2/js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jt.timepicker/jquery.timepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap-tagsinput/bootstrap-tagsinput.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables-responsive/dataTables.responsive.js') }}"></script>
{% endblock %}
{% block nav %}Edit Staff{% endblock %}
{% block formtitle %}Edit Staff{% endblock %}
{% block content %}
    <div class="br-section-wrapper" style="padding:0px;">
        <form method="post">
        <div class="form-layout form-layout-4 mg-t-20" style="background-color:#fff">

            <div class="row mg-t-10">
                <label class="col-sm-3 form-control-label" for="chrtext">ID</label>
                <div class="col-sm-9 mg-t-10 mg-sm-t-0">
                <input type="text" id="id" name="id" class="form-control" value="{{ formdata.id }}" placeholder="Enter any text" disabled>
                </div>
            </div><!-- row -->

            <div class="row mg-t-10">
                <label class="col-sm-3 form-control-label" for="chrtext">PIC</label>
                <div class="col-sm-9 mg-t-10 mg-sm-t-0">
                <input type="text" id="pic" name="pic" class="form-control" value="{{ formdata.pic }}" placeholder="Enter any text">
                </div>
            </div><!-- row -->

            <div class="row mg-t-10">
                <label class="col-sm-3 form-control-label" for="chrtext">Order Name</label>
                <div class="col-sm-9 mg-t-10 mg-sm-t-0">
                <input type="text" id="name" name="name" class="form-control" value="{{ formdata.name }}" placeholder="Enter any text">
                </div>
            </div><!-- row -->

            <div class="row mg-t-10">
                <label class="col-sm-3 form-control-label" for="chrtext">Schedule</label>
                <div class="col-sm-9 mg-t-10 mg-sm-t-0">
                <input type="datetime-local" id="schedule" name="schedule" class="form-control" value="{{ formdata.schedule }}" placeholder="Enter any date">
                </div>
            </div><!-- row -->

            <div class="row mg-t-10">
                <label class="col-sm-3 form-control-label" for="chrtext">Status</label>
                <div class="col-sm-9 mg-t-10 mg-sm-t-0">
                <input type="text" id="status" name="status" class="form-control" value="{{ formdata.status }}" placeholder="Enter any text">
                </div>
            </div><!-- row -->


            <div class="form-layout-footer mg-t-30">
                <input type="submit" class="btn btn-info" />
                <input type="reset" class="btn btn-secondary" />
            </div><!-- form-layout-footer -->
        </div>
        </form>
    </div>

    {% if display_attrs.showpanel == 1 %}
    <div class="br-section-wrapper mg-t-20 pd-30">
        <div class="table-wrapper">
            <table id="datatableSim" class="table display responsive">
            <thead><tr>
                <th class="wd-15p">Bugs</th>
                <th class="wd-15p">Version</th>
                <th class="wd-15p"># Lines Patched</th>
                <th class="wd-15p">Duration</th>
            </tr></thead>
        </table>
      </div><!-- table-wrapper -->
    </div>
    {% endif %}
{% endblock %}